body{
background-color: #c6e8ed;
}
.featuredmovies img {
  background-color: #ffc600;
  padding: 0.5rem;
}
.featuredmovies {
  text-align: center;
}
h1 {
background-color: #55c5d1;
}
img {
  width: 50%;
  height: auto;
  margin: 2rem;
}


@media all and (min-width: 60rem) {
nav {
    background-color: #55c5d1;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
ul  {
    list-style-type: none;
    margin: 5px;
    padding: 0.5rem;
    }
li {  
    text-align: center;
    }
 a {
   float: left;
   width: 20%;
          margin-top: 10px;
          text-decoration: none;
          color: white;
        }
.logo {
  text-align: center;
}
h1 {
  color: black;
}

 .featuredmovies {
   text-align: center;
 }
 .featuredmovies img {
   background-color: #ffc600;
 }
 .column {
  float: left;
  padding: 1rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
}

      
    
  
